@using AppCinema.Models;
@model SalaModel;
@{
    ViewBag.Title = "Svuota Sala";
}
<div class="text-center">
    <h1 class="display-4">Registra l'incasso di una sala</h1>
    <p>Seleziona l'id di una sala per confermare lo svuotameto di una sala e registrare l'incasso dei relativi biglietti</p>
     @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr>
            <div class="form-group">
                <label>Seleziona Id della sala</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdSala)
                </div>
            </div>
            
            <div class="form=group">
                <div class="col-md-offset col-md-10">
                    <input type="submit" value="Registra Incasso" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>