@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class= "text-right">@Html.ActionLink("Aggiungi nuovo spettatore", "AggiungiSpettatore")</p>
    <p class= "text-right">@Html.ActionLink("Registra incasso", "AggiungiIncasso")</p>
    <p class= "text-right">@Html.ActionLink("Statistiche", "Statistiche")</p>
</div>
